//OneLineInput component
.wpcd-one-line-input {
	overflow: hidden;
	overflow-wrap: break-word;
	resize: none;
	border: none !important;
	outline: none;
	box-shadow: none !important;
	background-color: inherit; //used to be #fafafa;
}

.wpcd-new-default-style {
	display: grid;
	grid-template-columns: 1fr 7fr;
	grid-template-areas:
		'discount-text-display body'
		'link-input link-input';
	border: 2px dashed #000000;
}

.wpcd-url-input {
	grid-area: link-input;
	form,
	> div {
		width: 70%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
	}
}

.wpcd-new-pro-style-1 .wpcd-url-input {
	border-top: 1px solid black;
}
