// New template

.wpcd-new-social-panel {
	grid-area: social-panel;
	display: flex;
	flex-direction: row;
	div {
		margin: 6px 4px;
		height: 32px;
		width: 32px;
		border-radius: 50%;
	}
	svg {
		height: 13px;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-60%, -90%);
	}
}

.wpcd-new-alt-grid-container {
	display: grid;
	background: transparent;
	grid-template-columns: 2fr 6fr 3fr;
	grid-template-areas:
		'discount-and-expiry description coupon-code'
		'social-panel social-panel social-panel'
		'link-input link-input link-input';
	margin: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 20px;
	box-shadow: 0px 1px 2px rgba(34, 34, 34, 0.2);
}

.wpcd-new-alt-grid-one {
	padding-right: 10px;
}

.wpcd-new-alt-grid-two {
	padding: 0 10px;
}

.wpcd-new-alt-title {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
}

.wpcd-new-alt-coupon-code {
	display: block;
	max-width: 100%;
	text-decoration: none;
	background: #fafafa;
	margin: 0 auto;
	color: #000;
	padding: 12px;
	text-align: center;
	font-size: 14px;
	border: 2px dashed #cdcdcd;
	border-radius: 3px;
}

.wpcd-new-alt-goto-button {
	display: block;
	max-width: 100%;
	text-decoration: none;
	background: #329d40;
	margin: 0 auto;
	color: #fff;
	padding: 12px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 14px;
	border: 0px dashed #cdcdcd;
	border-radius: 3px;
}

.wpcd-new-alt-discount-text {
	display: block;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	margin-top: 5px;
	box-shadow: 0px 1px 2px rgba(34, 34, 34, 0.2);
}

.wpcd-new-alt-coupon-type {
	display: block;
	background: #56b151;
	background-color: rgb(86, 177, 81);
	padding: 7px 6px;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	line-height: 2em;
	text-align: center;
	box-shadow: 1px 2px 2px rgba(34, 34, 34, 0.2);
}

.wpcd-new-alt-expire-text {
	font-size: inherit;
	color: #329d40;
	text-align: center;
}

.wpcd-new-default-style {
	display: grid;
	grid-template-columns: 1fr 7fr;
	grid-template-areas:
		'discount-text-display body'
		'social-panel social-panel'
		'link-input link-input';
	border: 2px dashed #000000;
	background-color: #fafafa;
}

.wpcd-new-default-discount-display {
	padding: 5px 5px 5px 5px;
	grid-area: discount-text-display;
	div {
		width: 95%;
		box-shadow: 1px 1px 4px rgba(34, 34, 34, 0.2);
		text-align: center;
	}
}
.wpcd-new-default-coupon-type {
	grid-area: expiry;
	background: #56b151;
	padding: 7px 6px;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	line-height: 2em;
}

.wpcd-new-visible-code-variant-1 {
	display: flex;
	flex-direction: row;
	border: 2px dashed #ccc;
	&:hover {
		border: 2px dashed #347baf;
		background-color: #fff;
	}
	font-weight: 600;
	font-size: 13px;
	.wpcd-new-iconholder {
		align-items: stretch;
		svg {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.wpcd-new-default-body {
	grid-area: body;
	> div {
		display: grid;
		grid-template-columns: 3fr 1fr;
	}
}

.wpcd-new-default-header {
	border-bottom: 1px dashed #ccc;
}

.wpcd-new-default-coupon-title {
	font-size: 21px;
}

.wpcd-new-default-description {
	width: 100%;
}

.wpcd-new-default-coupon-expiry {
	text-align: center;
	font-size: 14px;
}

.wpcd-new-hidden-code {
	border: 2px solid #ddd;
	background: linear-gradient(
			315deg,
			rgba(0, 0, 0, 0.06) 10%,
			transparent 15%,
			transparent 35%,
			rgba(0, 0, 0, 0.06) 40%,
			rgba(0, 0, 0, 0.06) 60%,
			transparent 65%,
			transparent 85%,
			rgba(0, 0, 0, 0.06) 90%
		)
		repeat scroll 0 0/6px 6px transparent;
}

@media screen and (max-width: 599px) {
	.wpcd-new-default-style {
		display: flex;
		flex-direction: column;
	}
	.wpcd-new-default-body > div {
		display: flex;
		flex-direction: column;
	}
}

.wpcd-new-pro-style-1 {
	display: grid;
	grid-template-columns: 18% 56% 24%;
	grid-template-areas:
		'image body discount-text-display'
		'social-panel social-panel .'
		'link-input link-input link-input';
	border: 1px solid #d1d1d1;
	background-color: #fafafa;
	figure {
		margin: 5px 5px 5px 5px;
		grid-area: image;
		img,
		svg {
			display: block;
			width: 100%;
			max-width: 128px;
			margin: 0 auto;
		}
	}
	.wpcd-new-social-panel {
		border-right: 1px dashed #d1d1d1;
	}
}

.wpcd-new-pro-style-1-title-desc {
	grid-area: body;
	border-right: 1px dashed #d1d1d1;
}

.wpcd-new-pro-style-1-coupon-data {
	grid-area: discount-text-display;
	display: flex;
	flex-flow: column;
	.editor-plain-text {
		text-align: center;
		font-size: 20px;
	}
}

.wpcd-new-pro-style-1-expiry {
	text-align: center;
}

@media screen and (max-width: 599px) {
	.wpcd-new-pro-style-1 {
		display: flex;
		flex-direction: column;
		.wpcd-new-pro-style-1-title-desc,
		.wpcd-new-social-panel {
			border-right: none;
		}
	}
}

.wpcd-new-pro-style-2 {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		'image body'
		'social-panel social-panel'
		'link-input link-input';
	border: 1px solid #d1d1d1;
	background-color: #fafafa;
	figure {
		margin: 5px 5px 5px 5px;
		img,
		svg {
			display: block;
			width: 100%;
			max-width: 128px;
			margin: 0 auto;
		}
	}
}

.wpcd-new-pro-style-2-img-and-discount-text {
	grid-area: image;
}

.wpcd-new-pro-style-2-content {
	grid-area: body;
}

.wpcd-new-pro-style-2-title {
	font-size: 22px;
	font-weight: 600;
}

.wpcd-new-pro-style-2-discount-text {
	box-shadow: 0px 1px 2px rgba(34, 34, 34, 0.2);
	padding: 9px;
}

.wpcd-new-pro-style-2-expiry-and-code {
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 599px) {
	.wpcd-new-pro-style-2 {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 567px) and (min-width: 320px) {
	.wpcd-new-pro-style-2-discount-text {
		display: none;
	}
}

.wpcd-new-pro-style-3 {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px 5px 5px 5px;
	border: 1px solid #d1d1d1;
	background-color: #fafafa;
	margin: 15px 0 15px 0px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.wpcd-new-pro-style-3-expiry-and-code {
	border-top: 1px dashed #d1d1d1;
	display: grid;
	grid-template-columns: 3fr 2fr;
	.wpcd-new-pro-style-3-expiry {
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.wpcd-new-pro-style-3-expiry-and-code {
		display: flex;
		flex-direction: column;
	}
}

.wpcd-new-pro-style-4 {
	width: 100%;
	padding: 5px 5px 5px 5px;
	border: 1px solid #d1d1d1;
	background: #fafafa;
	margin: 15px 0 15px 0px;
	overflow: hidden;
	clear: both;
	position: relative;
	margin-bottom: 20px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	.wpcd-new-pro-style-4-expiry {
		text-align: center;
		font-size: 16px;
	}
}
.wpcd-new-pro-style-4-content {
	border-bottom: 1px dashed #d1d1d1;
}
.wpcd-new-pro-style-4-coupon-container {
	display: flex;
	flex-direction: row;
}

.wpcd-new-pro-style-4-coupon input {
	width: 100% !important;
}

@media screen and (max-width: 980px) {
	.wpcd-new-pro-style-4-content {
		border-bottom: none;
	}
	.wpcd-new-pro-style-4-coupon-container {
		display: flex;
		flex-direction: column;
		.wpcd-new-pro-style-4-coupon {
			border-top: 1px dashed #d1d1d1;
		}
	}
}

.wpcd-new-pro-style-5 {
	border: 2px solid #18e06e;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	form {
		display: grid;
		grid-template-columns: 1fr 8fr 1fr;
		> input {
			width: auto;
		}
	}
	.wpcd-new-visible-code {
		border: 1px dashed #18e06e;
	}
}

.wpcd-new-pro-style-5-discount-text {
	color: #3a3a3a;
	font-size: 29px;
	text-align: center;
	margin: 11px;
	margin-top: 0px;
	border: 2px dashed #3a3a3a;
}

.wpcd-new-pro-style-5-main {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.wpcd-new-pro-style-5-expiry-and-code {
	display: grid;
	grid-template-columns: 3fr 2fr;
}

.wpcd-new-pro-style-5-expiry {
	text-align: center;
	border-bottom-left-radius: 15px;
	display: table;
	height: 100%;
	> div {
		display: table-cell;
		vertical-align: middle;
	}
}

@media screen and (max-width: 599px) {
	.wpcd-new-pro-style-5-main {
		display: initial;
		.wpcd-new-pro-style-5-imageholder,
		.wpcd-new-pro-style-5-discount-text {
			display: none;
		}
	}
}

.wpcd-new-pro-style-5 {
	border: 2px solid #18e06e;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.wpcd-new-pro-style-6 {
	max-width: 760px;
	width: 100%;
	border: 2px solid #18e06e;
	display: grid;
	grid-template-columns: 15% 55% 27%;
	grid-template-areas:
		'ribbon content image'
		'ribbon content coupon-code'
		'social-panel social-panel social-panel'
		'link-input link-input link-input';
	.wpcd-new-pro-style-6-coupon-details {
		grid-area: content;
	}
	.wpcd-new-hidden-code,
	.wpcd-new-visible-code {
		grid-area: coupon-code;
	}
}

.wpcd-new-ribbon-container {
	width: 100%;
	max-width: 100px;
	height: 200px;
	margin: 0 auto;
	grid-area: ribbon;
}

.wpcd-new-ribbon {
	width: 100%;
	max-width: 100px;
	height: 120px;
	margin: 0 auto;
	position: relative;
	textarea {
		color: #fff;
		font-weight: 600;
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		padding-top: 8px;
		margin: 0px !important;
		position: absolute;
		z-index: 2;
	}
}

.wpcd-new-ribbon-before {
	left: 0;
	border-left: 50px solid #18e06e;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	position: absolute;
	z-index: 1;
	content: '';
	bottom: -40px;
}

.wpcd-new-ribbon-after {
	right: 0;
	border-right: 50px solid #18e06e;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	position: absolute;
	z-index: 1;
	content: '';
	bottom: -40px;
}

.wpcd-new-pro-style-6-expiry {
	border-top: 1px dashed #18e06e;
	border-bottom: 1px dashed #18e06e;
}

@media screen and (max-width: 599px) {
	.wpcd-new-ribbon-container,
	.wpcd-new-pro-style-6-image {
		display: none;
	}
	.wpcd-new-pro-style-6 {
		grid-template-columns: 1fr;
		grid-template-areas:
			'content'
			'coupon-code'
			'social-panel'
			'link-input';
	}
}
