/**
 * Editor Styles
 */

.ub-section-column-wrap{
  display: flex;
  border-width: 5px;
  border: dashed 2px #ddd;

  .ub-editor-row-column_left,
  .ub-editor-row-column_right{
    position: absolute !important;
    height: 100% !important;
  }

  .ub-editor-row-column_left{
    left: 0;
  }

  .editor-inner-blocks.block-editor-inner-blocks{
    width: 100%;

    .editor-block-list__layout.block-editor-block-list__layout{
      display: flex;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

.ub-section-block-wrap {
  padding: 30px;
  border: 2px solid #ddd;
  text-align: center;
  position: relative;
}

.ub-select-section{

    .components-button-group{

         .ub-section-btn{
           height: 49px;
           border: 0;
           margin-right: 10px;
           margin-bottom: 10px;
           background: transparent;
           box-shadow: none;
           svg{
             width: 90px;
             height: 45px;
           }
         }
       }

    .components-button-group .ub-section-btn:hover svg rect{
      fill: #666666;
    }

}

.ub_handle-right,
.ub_handle-left{
  padding-left: 3px;
  padding-right: 3px;
}
.ub_handle-right:after,
.ub_handle-left:after{
  display: block;
  content: "";
  right: -8px !important;
  border-width: 5px;
  border: dashed 2px #ddd;
  width: 1px;
  height: 100%;
}
.ub_handle-right:before,
.ub_handle-left:before{
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #f53d3d;
  cursor: inherit;
  position: absolute;
  transform: translateX(-50%);
  margin-top: -8px;
  z-index: 2;
}
.left-column-width-size-top,
.right-column-width-size-top,
.left-column-width-size-bottom,
.right-column-width-size-bottom{
  position: absolute;
  font-size: 12px;
  background: #f53d3d;
  width: 40px;
  height: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 16px;
  z-index: 1;
}
.left-column-width-size-top:before,
.left-column-width-size-bottom:before{
  display: block;
  position: absolute;
  content: "";
  border: 8px solid transparent;
  border-left: 15px solid #f53d3d;
  z-index: -1;
  right: -23px;
}
.left-column-width-size-top,
.right-column-width-size-top{
  top: -5px;
  margin-top: 3px;
}
.left-column-width-size-bottom,
.right-column-width-size-bottom{
  bottom: -5px;
  margin-bottom: 3px;
}
.left-column-width-size-top{
  right: 15px;
}
.left-column-width-size-bottom{
  right: 15px;
}
.right-column-width-size-top{
  right: -55px;
}
.right-column-width-size-bottom{
  right: -55px;
}
.right-column-width-size-top:before,
.right-column-width-size-bottom:before{
  display: block;
  position: absolute;
  content: "";
  border: 8px solid transparent;
  border-right: 15px solid #f53d3d;
  z-index: -1;
  left: -23px;
}
//Single column
.ub-single-column {
  width: 100%;

  .editor-block-list__layout.block-editor-block-list__layout {
    flex-direction: column;
  }
}

//Inspector wrap style
.ub-layout-wrap-select-units{
  display: flex;
  margin-top: 4%;

  p{
    margin: 0;
    flex-grow: 2;
  }
}
.ub-select-layout-grid{

  .components-button-group{

    .ub-section-btn{
      height: 25px;
      border: 0;
      margin-right: 10px;
      margin-bottom: 10px;
      background: transparent;
      box-shadow: none;
      svg{
        width: 50px;
        height: 25px;
      }
    }

    .components-button .is-default:active,
    .components-button .is-default:focus{
      background: #ffffff;
      border-color: #ffffff;
      box-shadow: none;
    }
  }

  .components-button-group .ub-section-btn:hover svg rect{
    fill: #666666;
  }

  label{
     margin: 5% 1%;
  };
  .components-base-control__field{
    margin-bottom: 1px;
  }
  p{
    margin: 5% 1%;
  }
}

.ub-layout-wrap_margin_box{
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;

  p{
    margin: 0;
  }
  .components-base-control.components-range-control{
    margin-top: 8px;
  }

  .components-base-control__field {
    margin: 0px;

    .components-range-control__slider {
      display: none;
    }
    .components-range-control__number {
      width: 40px !important;
      height: 20px;
      font-size: 10px;
      margin-left: 0px;
    }
  }
  .margin-st_box1{
    display: flex;
    justify-content: center;

    .components-base-control.components-range-control:before{
      content: 'Margin';
      position: absolute;
      left: 20px;
    }
  }
  .margin-st_box2{
    display: flex;
    flex-direction: row;
    border-left: 0px;
    border-right: 0px;

    .margin-col-1,
    .margin-col-3{
      display: flex;
      align-items: center;
    }

    .margin-col-1{
       border-right: 1px solid #ddd;
    }
    .margin-col-2{
      display: flex;
      flex-direction: column;
      width: 155px;

      .padding-st_box1{
        display: flex;
        align-items: baseline;
        border-top: 1px solid #ddd;

         p{
           margin-right: 4% !important;
         }

         p,.components-base-control__field{
           margin: 0;
         }
      }

      .padding-st_box2{
        display: flex;

        .padding-col-2{
          border: 1px solid #ddd;
          padding: 8px;
        }
      }

      .padding-st_box3{
        border-bottom: 1px solid #ddd;
      }
    }
    .margin-col-3{
       border-left: 1px solid #ddd;
    }
  }
}

//video and overlay inspector block
.ub-start-panel{
  margin: 15px 0px;
}

.ub-margin-padding-panel{

  .components-range-control {
    .components-base-control__label {
      width: 35px;
    }
  }
}

.ub-section-editor-video-wrap {
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;

  .ub-editor-video{
    object-position: 50% 50%;
    object-fit: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
  }
}
.ub-section-editor-overlay{
  top: 0px;
  bottom: 0px;
  left: 0;
  position: absolute;
  height: auto;
  width: 100%;
}

.ub-video-inspector-panel{

   .components-button{
     margin: 20px 0px;
   }
}