.ub-single-section-block{
  display: flex;
}

.ub-section-block-video-wrap {
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1;

  .ub-block-video{
    object-position: 50% 50%;
    object-fit: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
  }
}

.ub-section-block-overlay {
  top: 0px;
  bottom: 0px;
  left: 0;
  position: absolute;
  height: auto;
  width: 100%;
}

.ub-single-column {
  border: 0px solid transparent;
}

// Tab grid
@media (max-width: 1024px) and (min-width: 768px){
  .ub-tab-collapse-row{
    flex-direction: column;
  }
  .ub-tab-last-row {
    flex-direction: row;
    flex-wrap: wrap;
    :nth-child(1),
    :nth-child(2) {
      flex: 0 0 50% !important;
    }

    :nth-child(3) {
      flex: 0 0 100% !important;
    }
  }

  .ub-tab-first-row{
    flex-direction: row;
    flex-wrap: wrap;
    :nth-child(2),
    :nth-child(3) {
      flex: 0 0 50% !important;
    }

    :nth-child(1) {
      flex: 0 0 100% !important;
    }
  }

  .ub-tab-two-grid{
    flex-direction: row;
    flex-wrap: wrap;
    :nth-child(1),
    :nth-child(2),
    :nth-child(3),
    :nth-child(4){
      flex: 0 0 50% !important;
    }
  }
}

// Mobile grid

@media (max-width: 767px) {
  .ub-mobile-collapse-row{
    flex-direction: column;
  }
  .ub-mobile-last-row{
    flex-direction: row;
    flex-wrap: wrap;
    :nth-child(1),
    :nth-child(2) {
      flex: 0 0 50% !important;
    }
    :nth-child(3) {
      flex: 0 0 100% !important;
    }
  }

  .ub-mobile-first-row{
    flex-direction: row;
    flex-wrap: wrap;
    :nth-child(2),
    :nth-child(3) {
      flex: 0 0 50% !important;
    }

    :nth-child(1) {
      flex: 0 0 100% !important;
    }
  }

  .ub-mobile-two-grid{
    flex-direction: row;
    flex-wrap: wrap;
    :nth-child(1),
    :nth-child(2),
    :nth-child(3),
    :nth-child(4){
      flex: 0 0 50% !important;
    }
  }
}