.ub-section-overhad-wrap{
	&.wrapVertical,
	&.wrapVerticalflex-start {
		[data-type="ub/section-column"]
			.editor-block-list__block-edit.block-editor-block-list__block-edit {
			    justify-content: flex-start;
		}
	}
	&.wrapVerticalcenter {
		[data-type="ub/section-column"]
			.editor-block-list__block-edit.block-editor-block-list__block-edit {
			     justify-content: center;
		}
	}
	&.wrapVerticalflex-end {
		[data-type="ub/section-column"] {
			.editor-block-list__block-edit.block-editor-block-list__block-edit {
				justify-content: flex-end;
			}
		}
	}
	&.wrapVerticalspace-between {
		[data-type="ub/section-column"]
			.editor-block-list__block-edit.block-editor-block-list__block-edit {
			    justify-content: space-between;
		}
	}
}

.ub-section-overhad-wrap
	[data-type="ub/section-column"]
	.editor-block-list__block-edit.block-editor-block-list__block-edit {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
}

.ub-section-column-wrap {
	display: flex;
	border-width: 5px;
	border: dashed 2px #ddd;
	[data-type="ub/section-column"] {
		display: flex;
		flex-direction: column;
		max-width: none !important;
		min-width: 0;
		word-break: break-word;
		overflow-wrap: break-word;
	}
	[data-type="ub/select-column"] {
		//flex: 1;
		display: flex;
		margin-top: -14px;
		margin-bottom: -14px;
		//justify-content: center;
		word-break: break-word;
		//overflow-wrap: break-word;
	}
	> div:only-child {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.editor-block-contextual-toolbar.block-editor-block-contextual-toolbar {
		position: absolute;
		top: 0px;
	}
	.ub-editor-row-column_left,
	.ub-editor-row-column_right {
		position: absolute !important;
		height: 100% !important;
	}

	.ub-editor-row-column_left {
		left: 0;
	}

	.editor-inner-blocks.block-editor-inner-blocks {
		width: 100%;

		.editor-block-list__layout.block-editor-block-list__layout {
			display: flex;
			margin-left: 0px;
			margin-right: 0px;
		}
	}
}

.ub-section-block-wrap {
	padding: 30px;
	border: 2px solid #ddd;
	text-align: center;
	position: relative;
}

.ub-select-section .components-button-group .ub-section-btn {
	height: 49px;
	border: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	background: transparent;
	box-shadow: none;
	svg {
		width: 90px;
		height: 45px;
	}
	&:hover svg rect {
		fill: #666666;
	}
}

.ub_handle-right,
.ub_handle-left {
	padding-left: 3px;
	padding-right: 3px;
	&:before {
		display: block;
		content: "";
		top: 50%;
		left: 50%;
		width: 16px;
		height: 16px;
		border: 2px solid #fff;
		border-radius: 50%;
		background: #f53d3d;
		cursor: inherit;
		position: absolute;
		transform: translateX(-50%);
		margin-top: -8px;
		z-index: 2;
	}
	&:after {
		display: block;
		content: "";
		right: -8px !important;
		border-width: 5px;
		border: dashed 2px #ddd;
		width: 1px;
		height: 100%;
	}
}
.left-column-width-size-top,
.right-column-width-size-top,
.left-column-width-size-bottom,
.right-column-width-size-bottom {
	position: absolute;
	font-size: 12px;
	background: #f53d3d;
	width: 40px;
	height: 16px;
	color: #ffffff;
	text-align: center;
	line-height: 16px;
	z-index: 1;
}
.left-column-width-size-top,
.right-column-width-size-top {
	top: -5px;
	margin-top: 3px;
}
.left-column-width-size-bottom,
.right-column-width-size-bottom {
	bottom: -5px;
	margin-bottom: 3px;
}
.left-column-width-size-top,
.left-column-width-size-bottom {
	right: 15px;
	&:before {
		display: block;
		position: absolute;
		content: "";
		border: 8px solid transparent;
		border-left: 15px solid #f53d3d;
		z-index: -1;
		right: -23px;
	}
}
.right-column-width-size-top,
.right-column-width-size-bottom {
	right: -55px;
	&:before {
		display: block;
		position: absolute;
		content: "";
		border: 8px solid transparent;
		border-right: 15px solid #f53d3d;
		z-index: -1;
		left: -23px;
	}
}
//Single column
.ub-single-column {
	width: 100%;
	border: 0px solid transparent;

	.editor-block-list__layout.block-editor-block-list__layout {
		flex-direction: column;
	}
}

//Inspector wrap style

.ub-set-bg-tab,
.ub-set-bg-mob {
	flex-direction: column;
}
.ub-set-toggle-control {
	div {
		span {
			margin-top: 1%;
		}
		label {
			margin: 0% 1%;
		}
	}
}
.selectUnitsTab,
.selectUnitsMob {
	margin-top: 1% !important;
}
.ub-layout-wrap-select-units,
.ub-layout-wrap-select-units-tab,
.ub-layout-wrap-select-units-mob {
	display: flex;
	margin-top: 4%;
	p {
		margin: 0;
		flex-grow: 2;
	}
}
.ub-select-layout-grid {
	.ub-inspect-tabs {
		.components-tab-panel__tab-content {
			margin-top: 15px;
		}
	}
	.ub-inspect-tabs .components-tab-panel__tabs button {
		justify-content: center;
		background: #d5dadf;
		width: 50%;
		border: 0;
		padding: 6px 16px;
		outline: 0;
	}
	.components-button {
		&.ub-tablet-tab,
		&.ub-mobile-tab {
			&.active-tab {
				background: #f53d3d;
				color: #ffffff;
				&:focus,
				&:active {
					&:not(:disabled):not([aria-disabled="true"]) {
						background: #f53d3d;
						color: #ffffff;
					}
				}
			}
		}
	}

	.components-panel__body .components-base-control{
		margin-bottom: 4px;
	}

	.components-base-control + p {
		margin: 0 0 10px;
	}

	.components-button-group {
		.ub-section-btn,
		.ub-section-btn-select {
			height: 25px;
			border: 0;
			margin-right: 10px;
			margin-bottom: 10px;
			background: transparent;
			box-shadow: none;
			svg {
				width: 50px;
				height: 25px;
			}
		}
		.components-button.is-default {
			&:active,
			&:focus {
				&:not(:disabled):not([aria-disabled="true"]) {
					background: #ffffff;
					border-color: #ffffff;
					box-shadow: none;
				}
			}
		}
	}

	.components-button-group {
		.ub-section-btn:hover svg rect {
			fill: #a6a6a6;
		}
		.ub-section-btn-select svg rect {
			fill: #666666;
		}
	}

	label {
		margin: 5% 1%;
	}
	.components-base-control__field {
		margin-bottom: 1px;
	}
	.ub-bg-color,
	.ub-bg-image {
		margin-left: -120px !important;
	}
	p{
		margin: 5% 1%;
	}
}

.ub-overlay-setting {
	.ub-inspect-tabs {
		.components-tab-panel__tab-content {
			margin-top: 15px;
		}
	}
	.ub-inspect-tabs .components-tab-panel__tabs button {
		justify-content: center;
		background: #d5dadf;
		width: 50%;
		border: 0;
		padding: 6px 16px;
		outline: 0;
	}
	.components-button {
		&.ub-standard-tab,
		&.ub-gradient-tab {
			&.active-tab {
				background: #f53d3d;
				color: #ffffff;
				&:focus,
				&:active {
					&:not(:disabled):not([aria-disabled="true"]) {
						background: #f53d3d;
						color: #ffffff;
					}
				}
			}
		}
	}
}

.ub-layout-wrap_margin_box {
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;

	p {
		margin: 0;
	}
	.components-base-control.components-range-control {
		margin-top: 8px;
	}

	.components-base-control__field {
		margin: 0px;

		.components-range-control__slider {
			display: none;
		}
		.components-range-control__number {
			width: 40px !important;
			height: 20px;
			font-size: 10px;
			margin-left: 0px;
		}
	}
	.margin-st_box1 {
		display: flex;
		justify-content: center;

		.components-base-control.components-range-control:before {
			content: "Margin";
			position: absolute;
			left: 20px;
		}
	}
	.margin-st_box2 {
		display: flex;
		flex-direction: row;
		border-left: 0px;
		border-right: 0px;

		.margin-col-1,
		.margin-col-3 {
			display: flex;
			align-items: center;
		}

		.margin-col-1 {
			border-right: 1px solid #ddd;
		}
		.margin-col-2 {
			display: flex;
			flex-direction: column;
			width: 155px;

			.padding-st_box1 {
				display: flex;
				align-items: baseline;
				border-top: 1px solid #ddd;

				p {
					margin-right: 4% !important;
				}

				p,
				.components-base-control__field {
					margin: 0;
				}
			}

			.padding-st_box2 {
				display: flex;

				.padding-col-2 {
					border: 1px solid #ddd;
					padding: 8px;
				}
			}
			.padding-st_box3 {
				border-bottom: 1px solid #ddd;
			}
		}
		.margin-col-3 {
			border-left: 1px solid #ddd;
		}
	}
}

//video and overlay inspector block
.ub-start-panel {
	margin: 15px 0px;
}
.ub-image-inspector-panel {
	margin-bottom: 10px;
}

.ub-margin-padding-panel
	.components-range-control
	.components-base-control__label {
	width: 25px;
}

.ub-section-editor-video-wrap {
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
	.ub-editor-video {
		object-position: 50% 50%;
		object-fit: cover;
		background-position: center center;
		width: 100%;
		height: 100%;
	}
}
.ub-section-editor-overlay {
	top: 0px;
	bottom: 0px;
	left: 0;
	position: absolute;
	height: auto;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
.ub-section-editor-gradient {
	top: 0px;
	bottom: 0px;
	left: 0;
	position: absolute;
	height: auto;
	width: 100%;
}

.ub-image-inspector-panel .components-button,
.ub-video-inspector-panel .components-button {
	margin: 10px 0px;
}

.ub-size-type-options {
	margin: 0;
	text-align: right;
	display: block;
	margin-bottom: -22px;
	.ub-size-btn {
		&,
		&:hover:not(:disabled):not([aria-disabled="true"]),
		&:focus:not(:disabled):not([aria-disabled="true"]) {
			text-decoration: underline;
			background: transparent;
			box-shadow: none;
			border: none;
			outline: none;
			z-index: 1;
		}
	}
}

.ub-border-control .components-base-control__label {
	z-index: -1;
}

.ub-border-control-individual,
.ub-border-control-linked {
	.components-base-control__label {
		width: 25px;
	}
}
