.ub-single-section-block {
	display: flex;
}

.ub-section-block-video-wrap {
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
	.ub-block-video {
		object-position: 50% 50%;
		object-fit: cover;
		background-position: center center;
		width: 100%;
		height: 100%;
	}
}

.ub-section-block-overlay,
.ub-section-block-overlay-tab,
.ub-section-block-overlay-mob{
	top: 0px;
	bottom: 0px;
	left: 0;
	position: absolute;
	height: auto;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
}
.ub-section-block-gradient,
.ub-section-block-gradient-tab,
.ub-section-block-gradient-mob{
	top: 0px;
	bottom: 0px;
	left: 0;
	position: absolute;
	height: auto;
	width: 100%;
}

.ub-single-column {
	border: 0px solid transparent;
	z-index: 1;
}

.ub-section-block-wrap {
	position: relative;
	overflow: hidden;
}

.ub-single-block {
	display: flex;
}

.ub-single-wrap {
	display: flex;
	flex-direction: column;
	word-break: break-word;
}
// css for Astra Theme
.ast-post-format- {
	.ub-section-block-wrap {
		&.alignwide {
			left: calc(-3.33rem);
			width: calc(100% + 6.67rem) !important;
		}
		&.alignfull {
			left: calc(-6.67rem);
			width: calc(100% + 13.3rem) !important;
		}
	}
}

// Tab grid
@media (max-width: 1024px) and (min-width: 768px) {
	.ub-tab-collapse-row,
	.ub-tab-collapse-four-row{
		flex-direction: column;
	}
	.ub-tab-last-row {
		:nth-child(1),
		:nth-child(2) {
			flex: 0 0 50% !important;
		}

		:nth-child(3) {
			flex: 0 0 100% !important;
		}
	}

	.ub-tab-first-row {
		:nth-child(2),
		:nth-child(3) {
			flex: 0 0 50% !important;
		}
		:nth-child(1) {
			flex: 0 0 100% !important;
		}
	}

	.ub-tab-two-grid {
		:nth-child(1),
		:nth-child(2),
		:nth-child(3),
		:nth-child(4) {
			flex: 0 0 50% !important;
		}
	}
	.ub-tab-collapse-four-row {
		:nth-child(1),
		:nth-child(2),
		:nth-child(3),
		:nth-child(4) {
			flex: 0 0 50% !important;
		}
	}
	.ub-tab-last-row,
	.ub-tab-first-row,
	.ub-tab-two-grid{
		flex-direction: row;
		flex-wrap: wrap;
	}
}

// Mobile grid

@media (max-width: 767px) {
	.ub-mobile-collapse-row,
	.ub-mobile-collapse-four-row{
		flex-direction: column;
	}
	.ub-mobile-last-row {
		:nth-child(1),
		:nth-child(2) {
			flex: 0 0 50% !important;
		}
		:nth-child(3) {
			flex: 0 0 100% !important;
		}
	}
	.ub-mobile-first-row {
		:nth-child(2),
		:nth-child(3) {
			flex: 0 0 50% !important;
		}

		:nth-child(1) {
			flex: 0 0 100% !important;
		}
	}

	.ub-mobile-two-grid {
		:nth-child(1),
		:nth-child(2),
		:nth-child(3),
		:nth-child(4) {
			flex: 0 0 50% !important;
		}
	}
	.ub-mobile-collapse-four-row {
		:nth-child(1),
		:nth-child(2),
		:nth-child(3),
		:nth-child(4) {
			flex: 0 0 50% !important;
		}
	}
	.ub-mobile-last-row,
	.ub-mobile-first-row,
	.ub-mobile-two-grid{
		flex-direction: row;
		flex-wrap: wrap;
	}
}
