.wp-block-ub-table-of-contents {
	padding: 15px 30px;
	&-table-items {
		.wp-block-ub-table-of-contents-table-item {
			.wp-block-ub-table-of-contents-table-items {
				padding-left: 25px;
			}
			.wp-block-ub-table-of-contents-table-item-heading-wrap {
				position: relative;
				.wp-block-ub-table-of-contents-table-item-heading-actions {
					justify-content: center;
					position: absolute;
					margin: auto;
					left: 0;
					right: 0;
					bottom: -12px;
					line-height: 25px;
					display: flex;
					align-items: center;
					.dashicons {
						display: flex;
						align-items: center;
						justify-content: center;
						background: #444444;
						border-radius: 50%;
						box-shadow: 0 0 5px;
						color: white;
						width: 20px;
						height: 20px;
						font-size: 13px;
						cursor: pointer;
						display: none;
						margin: 0 5px;
					}
				}
				.wp-block-ub-table-of-contents-table-item-heading {
					font-weight: 400;
					color: inherit;
				}
				&:hover .wp-block-ub-table-of-contents-table-item-heading-actions{
					.dashicons {
						display: flex;
					}
				}
			}
		}
	}
	&-add-btn-wrap {
		display: flex;
		justify-content: center;
		padding: 15px;
		button, button:focus, button:active, button:hover {
			background: #333 !important;
			color: white !important;
		}
	}
}
