.wp-block-ub-table-of-contents {
	&-table-header {
		padding: 15px;
		&-title {
			text-align: center;
			font-size: 30px;
			color: inherit;
			margin: 0 !important;
			font-weight: bold !important;
		}
	}
	&-table-items {
		padding: 15px !important;
		list-style-type: none !important;
		.wp-block-ub-table-of-contents-table-item {
			> .wp-block-ub-table-of-contents-table-items {
				padding-left: 25px;
			}
		}
	}
	&-add-btn-wrap {
		display: flex;
		justify-content: center;
		padding: 15px;
	}
	.wp-block-ub-table-of-contents-table-item-heading-wrap {
		display: flex;
		align-items: center;
		.list-bullet-dot {
			font-size: 50px;
			margin-right: 15px;
			line-height: 50px;
			font-family: none;
		}
		.list-bullet-numeric {
			color: inherit;
			line-height: 50px;
			margin-right: 15px;
		}
		a {
			text-decoration: none !important;
			box-shadow: none !important;
		}
		.wp-block-ub-table-of-contents-table-item-heading {
			font-weight: 400 !important;
			margin: 0 !important;
		}
	}
}
